$screen-md : 768px;
$screen-sm: 300px;

.hero {
    margin: 60px 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .left {
        flex: 2;
        padding-right: 50px;

        .title {
            font-size: 60px;
            margin-bottom: 20px;
        }

        .description {
            font-size: 32px;
            margin-bottom: 20px;
            line-height: 3rem;
        }

        .product {
            margin: 30px 0px;
            display: flex;
            align-items: center;
            flex-direction: row;

            .product-img {
                width: 80px;
                height: 80px;
                background-color: #ffffff;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                
                img {
                    margin: 10px;
                    width: 80%;
                    height: 80%;
                    object-fit: contain;
                }
            }

            .product-info {
                padding: 10px;

                .title {
                    font-size: 18px;
                    font-weight: bold;
                }

                a {
                    text-decoration: none;

                    span {
                        color: #38a169;
                        font-size: 18px;
                        display: flex;
                        gap: 5px;
                        align-items: center;

                        .icon {
                            font-size: 18px;
                        }
                    }
                }
            }
        }

        .btn-group {
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 20px;
            
            .btn {
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding: 20px;
                background-color: #48BB78;
                color: #fff;
                height: 60px;
                border: none;
                border-radius: 10px;
                width: 200px;
                cursor: pointer;

                .btn-left {
                    margin-right: 0px;
                    flex: 1;

                    svg {
                        width: 30px;
                    }
                }

                .btn-right {
                    margin: 0;
                    flex: 2;
                    display: flex;
                    flex-direction: column;

                    .top {
                        align-self: flex-start;
                    }

                    .bottom {
                        align-self: flex-start;
                        font-weight: 600;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    
    .right {
        flex: 1;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@media screen and (max-width: $screen-md) and (min-width: $screen-sm) {
    .hero {
        flex-direction: column;
        justify-items: center;

        .left {
            padding: 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            .description {
                text-align: center;
                margin: 0px 30px 20px 30px;
            }

            .btn-group > .btn {
                height: 50px;
                width: 160px;
                padding: 10px;

                .btn-left > svg {
                    width: 25px;
                }

                .btn-right > .bottom,.top {
                    font-size: 12px;
                }
            }
        }

        .right {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;

            img {
                margin-top: 20px;
                width: 80%;
                height: 80%;
            }
        }
    }

}