@import "../../global.scss";

.main {
    background-color: #1A202C;
    height: 100vh;
    color: #FFFFFF;
    padding: 10px;

    @include laptop-viewport { height: 100%; }
    @include tablet-lg-viewport { height: 100%; }
    @include tablet-viewport { height: 100%; }
    @include mobile-viewport { height: 100%; width: 100%; }
}
