@import "../../global.scss";

.team {
    width: 100%;
    height: 100%;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
 
    @include tablet-lg-viewport { margin: 10px 50px;}
    @include tablet-viewport { margin: 10px; }

    .title, .description {
        text-align: center;
        color: #4a5568;
    }

    .title {
        font-size: 48px;
        margin: 20px;
    }

    .description {
        font-size: 24px;
        margin: 10px 10px 50px 10px;
    }

    .members {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin: 10px;

        @include tablet-lg-viewport { margin: 10px auto; }
        @include tablet-viewport { margin: 10px auto; }

        .member {
            flex:0 0 30%;
            padding: 10px;
            border: 1px solid #e2e8f0;
            border-radius: 5px;
            display: flex;

            @include tablet-lg-viewport { flex: 0 0 45%; }
            @include tablet-viewport { flex: 0 0 45%; }

            .left {
                flex: 1;

                img {
                    width: 65px;
                    height: 65px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }

            .right {
                flex: 3;

                .name {
                    color: #1a202c;
                    line-height: 2rem;
                }

                .role {
                    color: #a0aec0;
                }
            }
        }
    }
}