.customers {
    height: 100%;
    padding: 30px;
    background-color: #ffffff;

    .top {
        margin: 10px;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        .title {
            font-size: 48px;
            color: #4a5568;
            margin-bottom: 20px;
        }

        .description {
            font-size: 24px;
            color: #4a5568;
            line-height: 2.5rem;
            width: 65%;
            margin-bottom: 20px;
        }
    }

    .bottom {
        width: 100%;
        
        .customer-group {
            display: flex;
            flex-direction: row;

            .customer {
                flex: 1;
                border: 1px solid #e2e8f0;
                height: 200px;
                padding: 30px;

                display: flex;
                flex-direction: row;
                justify-content: space-around;
                width: 100%;
                gap: 30px;

                .left {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 10px;
                    margin-right: 10px;
                    
                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover
                    }
                }

                .right {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        
    }
}