@import "../../global.scss";

.customers {
    height: 100%;
    padding: 30px;
    margin: 20px;
    background-color: #ffffff;

    .top {
        margin: 10px;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        .title {
            font-size: 48px;
            color: #4a5568;
            margin-bottom: 20px;

            @include mobile-viewport { font-size: 32px; }

        }

        .description {
            font-size: 24px;
            color: #4a5568;
            line-height: 2.5rem;
            width: 65%;
            margin-bottom: 20px;

            @include mobile-viewport { width: 100%; }

        }
    }

    .bottom {
        width: 100%;
        margin-bottom: 30px;
        
        @include laptop-viewport {
            margin: 0px;
        }
        
        .customer-group {
            display: flex;
            flex-wrap: wrap;

            .customer {
                flex: 0 0 50%;
                border: 1px solid #e2e8f0;
                height: 200px;
                padding: 30px;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                width: 100%;
                gap: 30px;

                @include laptop-viewport { height: 220px; }
                @include tablet-lg-viewport { flex: 0 0 100%; }
                @include tablet-viewport { flex: 0 0 100%; }
                @include mobile-viewport { flex-direction: column; align-items: center; flex: 0 0 100%; height: 100% }

                .left {
                    flex: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // padding: 10px;
                    margin-right: 10px;
                    
                    img {
                        height: 100%;
                        width: 100%;
                    }

                    @include mobile-viewport { height: 50%; width: 50%;}
                }

                .right {
                    flex: 2;
                    width: 100%;
                    height: 100%;

                    @include mobile-viewport { align-self: center; }

                    .title {
                        font-size: 18px;
                        line-height: 1.5rem;
                    }

                    .category {
                        color: #a0aec0;
                        margin-bottom: 10px;
                    }

                    .description {
                        font-family: 'Inter';
                        margin-bottom: 10px;
                        color: #4a5568;
                        line-height: 1.5rem;
                    }
                    
                    .link {
                        text-decoration: none;
                        // margin: 20px 0px;

                        span {
                            color: #38a169;
                            font-size: 16px;
                            display: flex;
                            gap: 5px;
                            align-items: center;

                            .icon {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }

        
    }
}