@import "../../global.scss";

nav {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablet-viewport {
        flex-direction: column;
        justify-content: center;
    };

    .nav-logo {
        width: 150px;
        height: 5rem;
    }

    .nav-links {
        margin-right: 30px;

        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            list-style: none;
            gap: 30px;

            li {
                a {
                    text-decoration: none;
                    color: white;
                    font-size: 20px;
                }

                a:hover {
                    color: #a3e0c0;
                    cursor: pointer;
                }
            }
        }
    }

}